*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
header{
    background-color: white;

}

  body{
    background-color: whitesmoke;
    size: 20px;
  }
  
header .container{
  display:flex;
  justify-content: space-between;
  align-content: center;
  position: relative;
  text-indent: 18px;
  
}

header .container::after{
  content: "";
  position: absolute;
  height: 1px;
  background-color: #C0C0C0;
  bottom: -8px;
  width: 100%;
  left: 1px;
  

}

  header .head {
    display: flex;
    justify-content: space-between;
    font-family: "El Messiri";
    text-align: right;

  }
  .body{
    background:linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url("images/Rectangle 27.png");
    background-size:cover;
    background-position:center;
    height:100vh;
  }
  .body h1{
    color: white;
    align-items: center;
    font-size: 74px;
    transform: translate(10px, 334px);
  }
  
  /* line*/
  .custom-line {
    width: 10%; /* عرض الخط */
    height: 3px; /* ارتفاع الخط */
    background-color: #56abb6; /* لون الخط */
    margin-right: 10px;
  }
/* login*/
.form {
    display: flex;
    flex-direction: column;
    align-self: center;
    font-family: inherit;
    gap: 10px;
    padding-inline: 2em;
    padding-bottom: 0.4em;
    background-color: whitesmoke;
    background-color:whitesmoke;
    border-radius: 20px;
    width: 300px;
  }
  
  .form-heading {
    text-align: center;
    margin: 2em;
    color: #64ffda;
    font-size: 1.2em;
    background-color: transparent;
    align-self: center;
  }
  
  .form-field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 10px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: white;
    background-color: whitesmoke;
    box-shadow: inset 2px 5px 10px #56abb6;
  }
  
  .input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: black;
    padding-inline: 1em;
  }
  
  .sendMessage-btn {
    cursor: pointer;
    margin-bottom: 3em;
    padding: 1em;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    color:black;
    font-weight: bold;
    outline: 1px solid  #56abb6;
    transition: all ease-in-out 0.3s;
  }
  
  .sendMessage-btn:hover {
    transition: all ease-in-out 0.3s;
    background-color: #56abb6;
    color: #000;
    cursor: pointer;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  }
  
  .form-card1 {
    background-image: linear-gradient(163deg, #56abb6 0%, #56abb6 100%);
    border-radius: 22px;
    transition: all 0.3s;
    width: 310px;
    display: flex;
    gap: 200px;
  }
  
  .form-card1:hover {
    box-shadow: 0px 0px 30px 1px rgba(100, 255, 218, 0.3);
  }
  
  .form-card2 {
    border-radius: 0;
    transition: all 0.2s;
    display: flex;
    gap: 50px;
  }
  
  .form-card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
  }
  /*end*/
.endd{
    display: flex;
    gap: 100px;
    background-color: #012C32;
  }
  .endd h6{
    margin-right:30px;
    margin-top: 20px;
    color: white;
  }
  .foter{
    background-color: #012C32;
    color: white;
    text-shadow: #212121;
  
  }
  center.foter::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
  } 
  
